.App {
  text-align: center;
}

.MuiGridListTile-tile {
  height: unset !important;
  overflow: unset !important;
  
}


.MuiFilledInput-root {
  height: 150px;
  border-radius: 20px !important;
  align-items: flex-end !important;
}

.MuiFilledInput-underline:after {
  border-bottom: 0 !important;
}

.MuiBackdrop-root {
  background: transparent !important;
}

.MuiGridListTile-root {
  width: 20% !important;
  margin: 20px;
  background-color: white;
  border-radius: 20px;
  height: 200px !important;
}

.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
 height: 100%;
}

.MuiGridListTile-tile {
  box-shadow: 0px 20px 16px rgba(117, 128, 146, 0.16);
border-radius: 16px;

}

h1 {
  font-size: 1.5em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
